html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  background: #ffffff;
  min-height: 80vh;
  flex-grow: 1;
}

.controls {
  text-align: center;
  padding: 0.5em 0;
  background: #ffffff;
}

.controls {
  color: #fff;
}
.controls p {
  margin: 0;
}
.controls > div {
  margin-bottom: 0.5em;
}
.controls > div:last-child {
  margin-bottom: 0;
}

video {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


