html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.video{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video{
    transform: scaleX(-1);
    filter: FlipH;
}

#controls{
  text-align: center;
  padding: 0.5em 0;
  background: ##2a6b3b;
}



